:root {
    --font-main: "Inter", "sans-serif";
    --color-primary: #db4444;
    --color-dark: #000000;
    --color-gray: #7d8184;
    --color-secondry-white: #f5f5f5;
    --color-white: #ffffff;
}

.cart {
    width: 100%;
}

.cart_header {
    padding: 1.5rem;
    background-color: var(--color-secondry-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1px;
}


.cart_item {
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: var(--color-secondry-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1px;
}

.cart_product {
    display: flex;
    flex-direction: column;

}

.cart_img {
    width: 7%;
}

.cart_total {
    margin-top: 2rem;
    text-align: right;
}

.add_to_cart {
    padding: 1rem 2rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 2rem;
}