:root {
    --font-main: "Inter", "sans-serif";
    --color-primary: #db4444;
    --color-dark: #000000;
    --color-gray: #7d8184;
    --color-secondry-white: #f5f5f5;
    --color-white: #ffffff;
}

/* about start */
.story-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-gap: 6rem;
}

.story-content-titel {
    font-size: 4rem;
    margin-bottom: 3rem;
}

.story-content-p {
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.story-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-outline {
    padding: 2rem;
    border-radius: 2px;
    border: 1px solid var(--color-gray);
}

.services-num {
    margin-top: 1.5rem;


}

.service-pp {
    font-size: 1.5rem;
}

.active-service {
    border-radius: 2px;
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
    color: var(--color-white);
}

/* team */
.team-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
}

.team-img-wrapper {
    width: 350px;
    height: 350px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 auto 20px;
}

.team-img {
    max-width: 100%;
    max-height: 100%;
}


.team-name {
    font-size: 25px;
    margin: 1.5rem 0rem;
}

.social-icons {
    display: flex;

    margin-top: 8px;

}

.social-icons a {
    margin: 0 8px;
    color: var(--color-dark);
    transition: transform 0.2s;

}

.social-icons a:hover {
    transform: scale(1.2);
}

.social-icons a:active {
    transform: scale(0.9);
}



/* services 2 */
.services-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 3rem;
}

.service {
    text-align: center;
}



.service-title {
    font-size: 2rem;
    margin: 1.5rem 0rem;
}

.service-p {
    font-size: 1rem;
}

@media (max-width: 1200px) {

    .story-container,
    .team-container,
    .services-container {
        grid-gap: 4rem;
    }
}

@media (max-width: 992px) {
    .story-content-titel {
        font-size: 3rem;
    }

    .story-content-p,
    .service-pp,
    .service-p {
        font-size: 1.5rem;
    }

    .team-name {
        font-size: 20px;
    }
}

@media (max-width: 768px) {

    .story-container,
    .team-container,
    .services-container {
        grid-template-columns: 1fr;
    }

    .story-content-titel {
        font-size: 2.5rem;
    }

    .story-content-p,
    .service-pp,
    .service-p {
        font-size: 1.3rem;

    }
}

@media (max-width: 480px) {
    .team-img-wrapper {
        height: 250px;
    }

    .team-name {
        font-size: 18px;
    }

    .social-icons a {
        margin: 0 5px;
    }
}